Checks: >
  *,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-overloaded-operator,
  -fuchsia-statically-constructed-objects,
  -google-runtime-int,
  -hicpp-use-auto,
  -llvm-header-guard,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-inline-function-decl,
  -modernize-macro-to-enum,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -portability-avoid-pragma-once,
  -readability-convert-member-functions-to-static,
  -readability-magic-numbers,
  -readability-misplaced-array-index
CheckOptions:
  - key: bugprone-easily-swappable-parameters.IgnoredParameterNames
    value: x;y
  - key: cppcoreguidelines-macro-usage.CheckCapsOnly
    value: true
  - key: misc-include-cleaner.MissingIncludes
    value: false
  - key: misc-use-internal-linkage.AnalyzeVariables
    value: false
  - key: readability-identifier-length.IgnoredParameterNames
    value: ^(x|y)$
  - key: readability-identifier-length.IgnoredVariableNames
    value: ^(id|x|y)$
FormatStyle: file
