Checks: >
  boost-*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-use-enum-class,
  -cppcoreguidelines-virtual-class-destructor,
  -modernize-avoid-c-arrays,
  -modernize-deprecated-headers,
  -modernize-macro-to-enum,
  -modernize-use-nodiscard,
  -modernize-use-std-numbers,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -portability-avoid-pragma-once,
  -readability-avoid-const-params-in-decls,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix
