*.egg-info
*/build/lib
.env
.pio
.platformio
.venv
.vscode
__pycache__
data/webapp
firmware/include/config/secrets*.h
sdkconfig.*
webapp/dist
webapp/node_modules
!.vscode/README.md
!sdkconfig.defaults*
