__pycache__
/.env*
/.pio
/.platformio
/.ruff_cache
/.venv
/.vscode/*
/build
/data/webapp
/extra/IKEA-Frekvens-LED-spotlight/secrets*.yaml
/firmware/certs
/firmware/embed
/firmware/include/config/secrets*.h
/logs
/sdkconfig.*
/tools/build
/tools/src/frekvens.egg-info
/webapp/.env*
/webapp/dist
/webapp/node_modules
!/.vscode/extensions.json
!/.vscode/README.md
!/.vscode/settings.json
!/sdkconfig.defaults*
