name: Build

on:
  merge_group:
    types:
      - checks_requested

  pull_request:
    branches:
      - main

  push:
    branches:
      - main

  workflow_dispatch:

permissions:
  contents: read

jobs:
  core-frekvens-basic:
    name: Core - IKEA Frekvens LED multi-use light - basic build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            .platformio/.cache
          key: ${{ runner.os }}-pio

      - uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - run: pip install --upgrade platformio

      - uses: actions/setup-node@v4
        with:
          cache: npm
          cache-dependency-path: webapp/package-lock.json
          node-version: 22

      - run: |
          cat <<EOL > .env
          EXTENSION_BUTTON='true'
          EXTENSION_MICROPHONE='true'
          EXTENSION_OTA='true'
          EXTENSION_WEBAPP='true'
          EXTENSION_WEBSOCKET='true'
          HOSTNAME='frekvens'
          IKEA_FREKVENS='true'
          MODE_ARROW='true'
          MODE_BLINDS='true'
          MODE_EQUALIZER='true'
          MODE_JAGGEDWAVEFORM='true'
          MODE_RING='true'
          MODE_SMOOTHWAVEFORM='true'
          NAME='Frekvens'
          EOL

      - run: |
          cat <<EOL > firmware/include/config/secrets.h
          #pragma once
          #define PIN_CS 1
          #define PIN_MIC 2
          #define PIN_MOSI 3
          #define PIN_OE 4
          #define PIN_SCLK 5
          #define PIN_SW1 6
          #define PIN_SW2 7
          #define WIFI_KEY "redacted"
          #define WIFI_SSID "redacted"
          EOL

      - run: npm ci
        working-directory: webapp

      - run: pio run

  core-frekvens-custom:
    name: Core - IKEA Frekvens LED multi-use light - custom build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            .platformio/.cache
          key: ${{ runner.os }}-pio

      - uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - run: pip install --upgrade platformio

      - uses: actions/setup-node@v4
        with:
          cache: npm
          cache-dependency-path: webapp/package-lock.json
          node-version: 22

      - run: |
          cat <<EOL > .env
          EXTENSION_ALEXA='true'
          EXTENSION_BUTTON='true'
          EXTENSION_HEAP='true'
          EXTENSION_HOMEASSISTANT='true'
          EXTENSION_INFRARED='true'
          EXTENSION_MESSAGE='true'
          EXTENSION_MICROPHONE='true'
          EXTENSION_MQTT='true'
          EXTENSION_PHOTOCELL='true'
          EXTENSION_PLAYLIST='true'
          EXTENSION_RESTFUL='true'
          EXTENSION_RTC='true'
          EXTENSION_SERVERSENTEVENTS='true'
          EXTENSION_SIGNAL='true'
          EXTENSION_WEBAPP='true'
          EXTENSION_WEBSOCKET='true'
          FONT_BRAILLE='true'
          HOSTNAME='custom'
          IKEA_FREKVENS='true'
          IKEA_OBEGRANSAD='false'
          MODE_ANIMATION='true'
          MODE_ARROW='true'
          MODE_ARTNET='true'
          MODE_BINARYCLOCK='true'
          MODE_BINARYEPOCH='true'
          MODE_BLINDS='true'
          MODE_BLINK='true'
          MODE_BOLDCLOCK='true'
          MODE_BREAKOUTCLOCK='true'
          MODE_BRIGHT='true'
          MODE_CIRCLE='true'
          MODE_COUNTDOWN='true'
          MODE_DISTRIBUTEDDISPLAYPROTOCOL='true'
          MODE_DRAW='true'
          MODE_E131='true'
          MODE_EQUALIZER='true'
          MODE_FIREWORK='true'
          MODE_FLIES='true'
          MODE_GAMEOFLIFE='true'
          MODE_GAMEOFLIFECLOCK='true'
          MODE_GLITTER='true'
          MODE_HOMEASSISTANTWEATHER='true'
          MODE_HOMETHERMOMETER='true'
          MODE_JAGGEDWAVEFORM='true'
          MODE_LARGETICKINGCLOCK='true'
          MODE_LEAFFALL='true'
          MODE_LINES='true'
          MODE_METABALLS='true'
          MODE_NOISE='true'
          MODE_OPENMETEO='true'
          MODE_OPENWEATHER='true'
          MODE_PINGPONG='true'
          MODE_PINGPONGCLOCK='true'
          MODE_PIXELSEQUENCE='true'
          MODE_RAIN='true'
          MODE_RING='true'
          MODE_SCAN='true'
          MODE_SMALLCLOCK='true'
          MODE_SMALLTICKINGCLOCK='true'
          MODE_SMOOTHWAVEFORM='true'
          MODE_SNAKE='true'
          MODE_SNAKECLOCK='true'
          MODE_STARS='true'
          MODE_TICKER='true'
          MODE_WAVEFORM='true'
          MODE_WORLDWEATHERONLINE='true'
          MODE_WTTRIN='true'
          MODE_YR='true'
          NAME='Custom'
          OTA_KEY='secret'
          TIME_ZONE='Etc/Universal'
          EOL

      - run: |
          cat <<EOL > firmware/include/config/secrets.h
          #pragma once
          #define DNS4 "1.1.1.1"
          #define FRAME_RATE 60
          #define HOMEASSISTANT_ENTITY "weather.forecast_home"
          #define HOMEASSISTANT_HOST "homeassistant.local"
          #define HOMEASSISTANT_KEY "redacted"
          #define HOMEASSISTANT_PORT 8123
          #define LATITUDE "0.000"
          #define LOCATION "redacted"
          #define LONGITUDE "0.000"
          #define MQTT_HOST "mqtt.local"
          #define MQTT_PORT 1883
          #define MQTT_USER "redacted"
          #define MQTT_KEY "redacted"
          #define OPENMETEO_KEY "redacted"
          #define OPENWEATHER_KEY "redacted"
          #define PIN_CS 1
          #define PIN_CS2 2
          #define PIN_INT 3
          #define PIN_IR 4
          #define PIN_LDR 5
          #define PIN_MIC 6
          #define PIN_MISO 7
          #define PIN_MISO2 8
          #define PIN_MOSI 9
          #define PIN_MOSI2 10
          #define PIN_OE 11
          #define PIN_SCL 12
          #define PIN_SCLK 13
          #define PIN_SCLK2 14
          #define PIN_SDA 15
          #define PIN_SDIO2 16
          #define PIN_SW1 17
          #define PIN_SW2 18
          #define RTC_DS3232
          #define TEMPERATURE_CELSIUS false
          #define TEMPERATURE_FAHRENHEIT false
          #define TEMPERATURE_KELVIN true
          #define WIFI_COUNTRY "01"
          #define WIFI_KEY "redacted"
          #define WIFI_SSID "redacted"
          #define WORLDWEATHERONLINE_KEY "redacted"
          EOL

      - run: npm ci
        working-directory: webapp

      - run: pio run

  core-obegransad-basic:
    name: Core - IKEA Obegränsad LED wall lamp - basic build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            .platformio/.cache
          key: ${{ runner.os }}-pio

      - uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - run: pip install --upgrade platformio

      - uses: actions/setup-node@v4
        with:
          cache: npm
          cache-dependency-path: webapp/package-lock.json
          node-version: 22

      - run: |
          cat <<EOL > .env
          EXTENSION_BUTTON='true'
          EXTENSION_OTA='true'
          EXTENSION_WEBAPP='true'
          EXTENSION_WEBSOCKET='true'
          HOSTNAME='obegransad'
          IKEA_OBEGRANSAD='true'
          MODE_BRIGHT='true'
          MODE_CIRCLE='true'
          MODE_LINES='true'
          MODE_NOISE='true'
          MODE_RAIN='true'
          MODE_SCAN='true'
          MODE_STARS='true'
          NAME='Obegränsad'
          EOL

      - run: |
          cat <<EOL > firmware/include/config/secrets.h
          #pragma once
          #define PIN_CS 1
          #define PIN_MOSI 2
          #define PIN_OE 3
          #define PIN_SCLK 4
          #define PIN_SW2 5
          #define WIFI_KEY "redacted"
          #define WIFI_SSID "redacted"
          EOL

      - run: npm ci
        working-directory: webapp

      - run: pio run

  extra-font-generator:
    name: Extra - Font generator
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - run: pip install -r extra/Python/requirements.txt

      - run: python extra/Python/FontGenerator.py --input /usr/share/fonts/truetype/dejavu/DejaVuSans.ttf --size 8

      - uses: andstor/file-existence-action@v3
        with:
          fail: true
          files: "DejaVuSansFont.h, DejaVuSansFont.cpp"

  extra-frekvens-spotlight:
    name: Extra - IKEA Frekvens LED spotlight - ESPHome build
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v5

      - run: |
          cat <<EOL > extra/IKEA-Frekvens-LED-spotlight/secrets.yaml
          api_key: "redacted"
          ota_password: "redacted"
          wifi_password: "redacted"
          wifi_ssid: "redacted"
          EOL

      - uses: esphome/build-action@v7
        with:
          yaml-file: extra/IKEA-Frekvens-LED-spotlight/esphome.yaml

  extra-mode-generator:
    name: Extra - Mode generator
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - run: |
          cat <<EOL > Sketch.csv
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,255,0,0,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,0,0,0,0,0,0,255,0,0,0
          0,0,0,255,255,255,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,0,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,0,255,255,255,255,255,255,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          EOL

      - run: python extra/Python/ModeGenerator.py --input Sketch.csv

      - uses: andstor/file-existence-action@v3
        with:
          fail: true
          files: "SketchMode.h, SketchMode.cpp"

  extra-animation-splitter:
    name: Tools - Animation splitter
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - run: pip install tools/

      - run: |
          cat <<EOL > Sketch.csv
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,255,0,0,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,0,0,0,0,0,0,255,0,0,0
          0,0,0,255,255,255,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,0,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,0,255,255,255,255,255,255,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          EOL

      - run: python -m frekvens.AnimationSplitter --input Sketch.csv

      - uses: andstor/file-existence-action@v3
        with:
          fail: true
          files: "Sketch-frame-1.csv, Sketch-frame-2.csv"

  extra-art-net-streamer:
    name: Tools - Art-Net streamer
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - run: pip install tools/

      - run: |
          cat <<EOL > Sketch.csv
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,255,0,0,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,0,0,0,0,0,0,255,0,0,0
          0,0,0,255,255,255,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,0,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          EOL

      - run: python -m frekvens.ArtNetStreamer --host localhost --input Sketch.csv

  extra-distributed-display-protocol-streamer:
    name: Tools - Distributed Display Protocol streamer
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - run: pip install tools/

      - run: |
          cat <<EOL > Sketch.csv
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,255,0,0,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,0,0,0,0,0,0,255,0,0,0
          0,0,0,255,255,255,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,0,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          EOL

      - run: python -m frekvens.DistributedDisplayProtocolStreamer --host localhost --input Sketch.csv

  extra-e131-streamer:
    name: Tools - E1.31 streamer
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - run: pip install tools/

      - run: |
          cat <<EOL > Sketch.csv
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,255,0,0,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,0,0,0,0,0,0,255,0,0,0
          0,0,0,255,255,255,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,0,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          EOL

      - run: python -m frekvens.E131Streamer --host localhost --input Sketch.csv

  extra-home-thermometer-demo:
    name: Tools - Home thermometer demo
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - run: pip install tools/

      - run: |
          set +e
          OUTPUT=$(python -m frekvens.HomeThermometerDemo --host localhost --indoor=22 --outdoor=8 2>&1)
          STATUS=$?
          echo "$OUTPUT"
          if echo "$OUTPUT" | grep -q "httpx.ConnectError"; then
            echo "Expected ConnectError occurred."
            exit 0
          fi
          echo "Unexpected error or no error."
          exit $STATUS
