name: Dependabot custom

on:
  schedule:
    - cron: 0 7 * * 1-5

  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

env:
  milestone: 10
  semver-major-days: 90
  semver-minor-days: 21
  semver-patch-days: 3

jobs:
  idle:
    name: Idle check
    runs-on: ubuntu-latest
    outputs:
      active: ${{ steps.idle.outputs.active }}

    steps:
      - name: GitHub Script idle check
        id: idle
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const { data: branch } = await github.rest.repos.getBranch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              branch: 'main',
            });
            const active = new Date() - new Date(branch.commit.commit.author.date) <= 90 * 86400000;
            core.info(`Active: ${active}`);
            core.setOutput('active', active);

  github-check:
    name: GitHub check
    needs: idle
    runs-on: ubuntu-latest
    if: needs.idle.outputs.active
    outputs:
      dependency-fragments: ${{ steps.pending.outputs.fragments }}

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.14
          cache: pip
          cache-dependency-path: .github/scripts/dependabot/requirements.txt

      - name: Set up Python packages
        run: pip install -r .github/scripts/dependabot/requirements.txt

      - name: Frekvens GitHub dependabot
        id: pending
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_WORKSPACE: ${{ github.workspace }}
          SEMVER_MAJOR_DAYS: ${{ env.semver-major-days }}
          SEMVER_MINOR_DAYS: ${{ env.semver-minor-days }}
          SEMVER_PATCH_DAYS: ${{ env.semver-patch-days }}
        run: echo "fragments=$(python -m GitHub)" >> "$GITHUB_OUTPUT"
        working-directory: .github/scripts/dependabot/github

  github-update:
    name: GitHub update
    needs: github-check
    runs-on: ubuntu-latest
    if: needs.github-check.outputs.dependency-fragments != '[]'

    strategy:
      max-parallel: 1
      matrix:
        fragments: ${{ fromJson(needs.github-check.outputs.dependency-fragments) }}

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: GitHub Script head check
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: head
        with:
          script: |
            const { data: prs } = await github.rest.pulls.list({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'all',
              head: `${context.repo.owner}:dependabot/platformio/${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }}-${{ matrix.fragments.version_new }}`,
              per_page: 100,
            });
            core.info(`Head PRs: ${prs.length}`);
            core.setOutput('exists', prs.length);

      - name: Update platformio.ini
        if: steps.head.outputs.exists == false
        run: sed -i "s|${{ matrix.fragments.string_old }}|${{ matrix.fragments.string_new }}|g" platformio.ini

      - name: Create Pull Request
        if: steps.head.outputs.exists == false
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        id: pr
        with:
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          body: |
            Bumps [${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }}](https://github.com/${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }}) from ${{ matrix.fragments.version_old }} to ${{ matrix.fragments.version_new }}.
            - [Releases](https://github.com/${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }}/releases)
            - [Tags](https://github.com/${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }}/tags)
            - [Compare changes](https://github.com/${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }}/compare/${{ matrix.fragments.commit_old || matrix.fragments.tag_old }}...${{ matrix.fragments.commit_new || matrix.fragments.tag_new }})
          branch: dependabot/platformio/${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }}-${{ matrix.fragments.version_new }}
          commit-message: Bump ${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }} from ${{ matrix.fragments.version_old }} to ${{ matrix.fragments.version_new }} in /
          labels: |
            dependencies
            firmware
          milestone: ${{ env.milestone }}
          title: Bump ${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }} from ${{ matrix.fragments.version_old }} to ${{ matrix.fragments.version_new }} in /

      - name: GitHub Script close superseded
        if: steps.head.outputs.exists == false
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            for (const pr of await github.paginate(
              github.rest.pulls.list,
              {
                owner: context.repo.owner,
                repo: context.repo.repo,
                state: 'open',
                per_page: 100,
              }
            )) {
              if (
                pr.number !== ${{ steps.pr.outputs.pull-request-number }} &&
                pr.head.ref.startsWith('dependabot/platformio/${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }}-')
              ) {
                await github.rest.issues.createComment({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: pr.number,
                  body: `Superseded by #${{ steps.pr.outputs.pull-request-number }}.`,
                });
                await github.rest.issues.update({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: pr.number,
                  milestone: null,
                });
                await github.rest.pulls.update({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  pull_number: pr.number,
                  state: 'closed',
                });
                core.info(`Closed PR #${pr.number}`);
              }
            }

  platformio-check:
    name: PlatformIO check
    needs: idle
    runs-on: ubuntu-latest
    if: needs.idle.outputs.active
    outputs:
      dependency-fragments: ${{ steps.pending.outputs.fragments }}

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.14
          cache: pip
          cache-dependency-path: |
            .github/platformio/requirements.txt
            .github/scripts/dependabot/requirements.txt

      - name: Set up Python packages
        run: pip install -r .github/platformio/requirements.txt -r .github/scripts/dependabot/requirements.txt

      - name: Frekvens PlatfomIO dependabot
        id: pending
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
          SEMVER_MAJOR_DAYS: ${{ env.semver-major-days }}
          SEMVER_MINOR_DAYS: ${{ env.semver-minor-days }}
          SEMVER_PATCH_DAYS: ${{ env.semver-patch-days }}
        run: echo "fragments=$(python -m PlatformIo)" >> "$GITHUB_OUTPUT"
        working-directory: .github/scripts/dependabot/platformio

  platformio-update:
    name: PlatformIO update
    needs: platformio-check
    runs-on: ubuntu-latest
    if: needs.platformio-check.outputs.dependency-fragments != '[]'

    strategy:
      max-parallel: 1
      matrix:
        fragments: ${{ fromJson(needs.platformio-check.outputs.dependency-fragments) }}

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: GitHub Script head check
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: head
        with:
          script: |
            const { data: prs } = await github.rest.pulls.list({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'all',
              head: `${context.repo.owner}:dependabot/platformio/${{ matrix.fragments.owner }}/${{ matrix.fragments.name }}-${{ matrix.fragments.version_new }}`,
            });
            core.info(`Head PRs: ${prs.length}`);
            core.setOutput('exists', prs.length);

      - name: Update platformio.ini
        if: steps.head.outputs.exists == false
        run: sed -i "s|${{ matrix.fragments.string_old }}|${{ matrix.fragments.string_new }}|g" platformio.ini

      - name: Create Pull Request
        if: steps.head.outputs.exists == false
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        id: pr
        with:
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          body: |
            Bumps [${{ matrix.fragments.owner }}/${{ matrix.fragments.name }}](https://registry.platformio.org/${{ matrix.fragments.type }}/${{ matrix.fragments.owner }}/${{ matrix.fragments.name }}?version=${{ matrix.fragments.version_new }}) from ${{ matrix.fragments.version_old }} to ${{ matrix.fragments.version_new }}.
            - [Versions](https://registry.platformio.org/${{ matrix.fragments.type }}/${{ matrix.fragments.owner }}/${{ matrix.fragments.name }}/versions?version=${{ matrix.fragments.version_new }})
          branch: dependabot/platformio/${{ matrix.fragments.owner }}/${{ matrix.fragments.name }}-${{ matrix.fragments.version_new }}
          commit-message: Bump ${{ matrix.fragments.owner }}/${{ matrix.fragments.name }} from ${{ matrix.fragments.version_old }} to ${{ matrix.fragments.version_new }} in /
          labels: |
            dependencies
            firmware
          milestone: ${{ env.milestone }}
          title: Bump ${{ matrix.fragments.owner }}/${{ matrix.fragments.name }} from ${{ matrix.fragments.version_old }} to ${{ matrix.fragments.version_new }} in /

      - name: GitHub Script close superseded
        if: steps.head.outputs.exists == false
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            for (const pr of await github.paginate(
              github.rest.pulls.list,
              {
                owner: context.repo.owner,
                repo: context.repo.repo,
                state: 'open',
                per_page: 100,
              }
            )) {
              if (
                pr.number !== ${{ steps.pr.outputs.pull-request-number }} &&
                pr.user.type === 'Bot' &&
                pr.head.ref.startsWith('dependabot/platformio/${{ matrix.fragments.owner }}/${{ matrix.fragments.name }}-')
              ) {
                await github.rest.issues.createComment({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: pr.number,
                  body: `Superseded by #${{ steps.pr.outputs.pull-request-number }}.`,
                });
                await github.rest.issues.update({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: pr.number,
                  milestone: null,
                });
                await github.rest.pulls.update({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  pull_number: pr.number,
                  state: 'closed',
                });
                core.info(`Closed PR #${pr.number}`);
              }
            }
