name: PlatformIO Dependabot

on:
  schedule:
    - cron: '0 6 * * 1'

  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    name: PlatformIO Dependabot
    steps:
      - uses: actions/checkout@v5

      - uses: JanPetterMG/platformio_dependabot@d52a00e84a5eac4e52b90ed3b26647496544fae8 # python313
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
