name: Generate

on:
  pull_request:
    branches:
      - main

  workflow_dispatch:

permissions:
  contents: read

jobs:
  font-dejavusans:
    name: DejaVuSans font
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toolchain:
          - python-version: 3.11
          - python-version: 3.14

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: ${{ matrix.toolchain.python-version }}
          cache: pip
          cache-dependency-path: |
            .github/platformio/requirements.txt
            extra/Python/requirements.txt
            scripts/requirements.txt

      - name: Set up Frekvens extra
        run: pip install -r extra/Python/requirements.txt

      - name: Set up PlatformIO
        run: pip install -r .github/platformio/requirements.txt

      - name: PlatformIO version
        id: platformio
        run: echo "version=$(pio --version | awk '{print $NF}')" >> "$GITHUB_OUTPUT"

      - name: Set up Cache for PlatformIO
        continue-on-error: true
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          key: platformio-cache-${{ runner.os }}-${{ runner.arch }}-${{ steps.platformio.outputs.version }}-${{ hashFiles('platformio.ini') }}
          path: |
            .platformio/.cache/downloads
            .platformio/.cache/http

      - name: Font generator
        run: |
          python extra/Python/FontGenerator.py -i DejaVuSans --size 8

          mv DejaVuSansFont.cpp firmware/src/fonts
          mv DejaVuSansFont.h firmware/include/fonts

          sed -i '/^#pragma once$/a\#include "fonts/DejaVuSansFont.h"' firmware/include/services/FontsService.h
          sed -i '/^    const std::vector<FontModule \*> modules = {$/a\        new DejaVuSansFont(),' firmware/include/services/FontsService.h

      - name: PlatformIO build
        run: |
          cat <<'EOL' > .env
          EXTENSION_MESSAGE='true'
          HOSTNAME='frekvens'
          IKEA_FREKVENS='true'
          MODE_TICKER='true'
          NAME='Frekvens'
          EOL

          cat <<'EOL' > firmware/include/config/secrets.h
          #pragma once
          #define PIN_CS 1
          #define PIN_MOSI 2
          #define PIN_OE 3
          #define PIN_SCLK 4
          #define WIFI_KEY "redacted"
          #define WIFI_SSID "redacted"
          EOL

          pio run -e esp32dev

  mode-dynamic:
    name: Dynamic mode
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toolchain:
          - python-version: 3.11
          - python-version: 3.14

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: ${{ matrix.toolchain.python-version }}
          cache: pip
          cache-dependency-path: |
            .github/platformio/requirements.txt
            scripts/requirements.txt

      - name: Set up PlatformIO
        run: pip install -r .github/platformio/requirements.txt

      - name: PlatformIO version
        id: platformio
        run: echo "version=$(pio --version | awk '{print $NF}')" >> "$GITHUB_OUTPUT"

      - name: Set up Cache for PlatformIO
        continue-on-error: true
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          key: platformio-cache-${{ runner.os }}-${{ runner.arch }}-${{ steps.platformio.outputs.version }}-${{ hashFiles('platformio.ini') }}
          path: |
            .platformio/.cache/downloads
            .platformio/.cache/http

      - name: Generate mode
        run: |
          cat <<EOL > Dynamic.csv
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,255,0,0,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,0,0,0,0,0,0,255,0,0,0
          0,0,0,255,255,255,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,0,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,0,255,255,255,255,255,255,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          EOL

          python extra/Python/ModeGenerator.py -i Dynamic.csv

          mv DynamicMode.cpp firmware/src/modes
          mv DynamicMode.h firmware/include/modes

          sed -i '/^#pragma once$/a\#include "modes/DynamicMode.h"' firmware/include/services/ModesService.h
          sed -i '/^    const std::vector<ModeModule \*> modes = {$/a\        new DynamicMode(),' firmware/include/services/ModesService.h

      - name: PlatformIO build
        run: |
          cat <<'EOL' > .env
          HOSTNAME='frekvens'
          IKEA_FREKVENS='true'
          MODE_ANIMATION='true'
          NAME='Frekvens'
          EOL

          cat <<'EOL' > firmware/include/config/secrets.h
          #pragma once
          #define PIN_CS 1
          #define PIN_MOSI 2
          #define PIN_OE 3
          #define PIN_SCLK 4
          #define WIFI_KEY "redacted"
          #define WIFI_SSID "redacted"
          EOL

          pio run -e esp32dev

  mode-static:
    name: Static mode
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toolchain:
          - python-version: 3.11
          - python-version: 3.14

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: ${{ matrix.toolchain.python-version }}
          cache: pip
          cache-dependency-path: |
            .github/platformio/requirements.txt
            scripts/requirements.txt

      - name: Set up PlatformIO
        run: pip install -r .github/platformio/requirements.txt

      - name: PlatformIO version
        id: platformio
        run: echo "version=$(pio --version | awk '{print $NF}')" >> "$GITHUB_OUTPUT"

      - name: Set up Cache for PlatformIO
        continue-on-error: true
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          key: platformio-cache-${{ runner.os }}-${{ runner.arch }}-${{ steps.platformio.outputs.version }}-${{ hashFiles('platformio.ini') }}
          path: |
            .platformio/.cache/downloads
            .platformio/.cache/http

      - name: Generate mode
        run: |
          cat <<EOL > Static.csv
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,255,0,0,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,0,0,0,0,0,0,255,0,0,0
          0,0,0,255,255,255,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,0,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,0,255,255,255,255,255,255,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          EOL

          python extra/Python/ModeGenerator.py -i Static.csv

          mv StaticMode.cpp firmware/src/modes
          mv StaticMode.h firmware/include/modes

          sed -i '/^#pragma once$/a\#include "modes/StaticMode.h"' firmware/include/services/ModesService.h
          sed -i '/^    const std::vector<ModeModule \*> modes = {$/a\        new StaticMode(),' firmware/include/services/ModesService.h

      - name: PlatformIO build
        run: |
          cat <<'EOL' > .env
          HOSTNAME='frekvens'
          IKEA_FREKVENS='true'
          MODE_DRAW='true'
          NAME='Frekvens'
          EOL

          cat <<'EOL' > firmware/include/config/secrets.h
          #pragma once
          #define PIN_CS 1
          #define PIN_MOSI 2
          #define PIN_OE 3
          #define PIN_SCLK 4
          #define WIFI_KEY "redacted"
          #define WIFI_SSID "redacted"
          EOL

          pio run -e esp32dev
