name: PlatformIO

on:
  schedule:
    - cron: 0 7 * * 1-5

  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

env:
  milestone: 9

jobs:
  idle:
    name: Idle check
    runs-on: ubuntu-latest
    outputs:
      active: ${{ steps.idle.outputs.active }}

    steps:
      - name: GitHub Script idle check
        id: idle
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const { data: branch } = await github.rest.repos.getBranch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              branch: 'main',
            });
            const active = new Date() - new Date(branch.commit.commit.author.date) <= 90 * 86400000;
            core.info(`Active: ${active}`);
            core.setOutput("active", active);

  github-commits:
    name: GitHub commits
    needs: idle
    runs-on: ubuntu-latest
    if: needs.idle.outputs.active
    outputs:
      dependency-fragments: ${{ steps.commits.outputs.fragments }}

    env:
      python-version: 3.14

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: ${{ env.python-version }}
          cache: pip
          cache-dependency-path: .github/scripts/platformio/requirements.txt

      - name: Set up Python packages
        run: pip install -r .github/scripts/platformio/requirements.txt

      - name: Frekvens GitHub Commit
        id: commits
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "fragments=$(python .github/scripts/platformio/GitHubCommit.py)" >> "$GITHUB_OUTPUT"

  github-commit-dependency:
    name: GitHub commit dependency
    needs: github-commits
    runs-on: ubuntu-latest
    if: needs.github-commits.outputs.dependency-fragments != '[]'

    strategy:
      matrix:
        fragments: ${{ fromJson(needs.github-commits.outputs.dependency-fragments) }}

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Git branch check
        id: branch
        run: |
          if git ls-remote --exit-code --heads origin "dependabot/platformio/${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }}-${{ matrix.fragments.version_new }}"; then
            echo "exists=1" >> "$GITHUB_OUTPUT"
          else
            echo "exists=0" >> "$GITHUB_OUTPUT"
          fi

      - name: Update platformio.ini
        if: steps.branch.outputs.exists == false
        run: sed -i "s|${{ matrix.fragments.string_old }}|${{ matrix.fragments.string_new }}|g" platformio.ini

      - name: Create Pull Request
        if: steps.branch.outputs.exists == false
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        id: pr
        with:
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          body: |
            Bumps [${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }}](https://github.com/${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }}) from ${{ matrix.fragments.version_old }} to ${{ matrix.fragments.version_new }}.
            - [Releases](https://github.com/${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }}/releases)
            - [Compare changes](https://github.com/${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }}/compare/${{ matrix.fragments.commit_old }}...${{ matrix.fragments.commit_new }})
          branch: dependabot/platformio/${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }}-${{ matrix.fragments.version_new }}
          commit-message: Bump ${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }} from ${{ matrix.fragments.version_old }} to ${{ matrix.fragments.version_new }} in /
          labels: |
            dependencies
            firmware
          milestone: ${{ env.milestone }}
          title: Bump ${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }} from ${{ matrix.fragments.version_old }} to ${{ matrix.fragments.version_new }} in /

      - name: GitHub Script close superseded
        if: steps.branch.outputs.exists == false
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            for (const pr of await github.paginate(
              github.rest.pulls.list,
              {
                owner: context.repo.owner,
                repo: context.repo.repo,
                state: 'open',
                per_page: 100,
              }
            )) {
              if (
                pr.number !== ${{ steps.pr.outputs.pull-request-number }} &&
                pr.head.ref.startsWith('dependabot/platformio/${{ matrix.fragments.owner }}/${{ matrix.fragments.repo }}-')
              ) {
                await github.rest.issues.createComment({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: pr.number,
                  body: `Superseded by #${{ steps.pr.outputs.pull-request-number }}.`,
                });
                await github.rest.issues.update({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: pr.number,
                  milestone: null,
                });
                await github.rest.pulls.update({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  pull_number: pr.number,
                  state: 'closed',
                });
                core.info(`Closed PR #${pr.number}`);
              }
            }

  platformio-registry:
    name: PlatformIO Registry
    needs: idle
    runs-on: ubuntu-latest
    if: needs.idle.outputs.active
    outputs:
      dependency-fragments: ${{ steps.registry.outputs.fragments }}

    env:
      python-version: 3.13

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: ${{ env.python-version }}
          cache: pip
          cache-dependency-path: |
            .github/platformio/requirements.txt
            .github/scripts/platformio/requirements.txt

      - name: Set up Python packages
        run: pip install -r .github/platformio/requirements.txt -r .github/scripts/platformio/requirements.txt

      - name: Frekvens PlatfomIO Registry
        id: registry
        run: |
          echo "fragments=$(python .github/scripts/platformio/PlatformIoRegistry.py)" >> "$GITHUB_OUTPUT"

  platformio-registry-dependency:
    name: PlatformIO Registry dependency
    needs: platformio-registry
    runs-on: ubuntu-latest
    if: needs.platformio-registry.outputs.dependency-fragments != '[]'

    strategy:
      matrix:
        fragments: ${{ fromJson(needs.platformio-registry.outputs.dependency-fragments) }}

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Git branch check
        id: branch
        run: |
          if git ls-remote --exit-code --heads origin "dependabot/platformio/${{ matrix.fragments.owner }}/${{ matrix.fragments.name }}-${{ matrix.fragments.version_new }}"; then
            echo "exists=1" >> "$GITHUB_OUTPUT"
          else
            echo "exists=0" >> "$GITHUB_OUTPUT"
          fi

      - name: Update platformio.ini
        if: steps.branch.outputs.exists == false
        run: sed -i "s|${{ matrix.fragments.string_old }}|${{ matrix.fragments.string_new }}|g" platformio.ini

      - name: Create Pull Request
        if: steps.branch.outputs.exists == false
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        id: pr
        with:
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          body: |
            Bumps [${{ matrix.fragments.owner }}/${{ matrix.fragments.name }}](https://registry.platformio.org/${{ matrix.fragments.type }}/${{ matrix.fragments.owner }}/${{ matrix.fragments.name }}) from ${{ matrix.fragments.version_old }} to ${{ matrix.fragments.version_new }}.
            - [Releases](https://registry.platformio.org/${{ matrix.fragments.type }}/${{ matrix.fragments.owner }}/${{ matrix.fragments.name }}/versions)
          branch: dependabot/platformio/${{ matrix.fragments.owner }}/${{ matrix.fragments.name }}-${{ matrix.fragments.version_new }}
          commit-message: Bump ${{ matrix.fragments.owner }}/${{ matrix.fragments.name }} from ${{ matrix.fragments.version_old }} to ${{ matrix.fragments.version_new }} in /
          labels: |
            dependencies
            firmware
          milestone: ${{ env.milestone }}
          title: Bump ${{ matrix.fragments.owner }}/${{ matrix.fragments.name }} from ${{ matrix.fragments.version_old }} to ${{ matrix.fragments.version_new }} in /

      - name: GitHub Script close superseded
        if: steps.branch.outputs.exists == false
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            for (const pr of await github.paginate(
              github.rest.pulls.list,
              {
                owner: context.repo.owner,
                repo: context.repo.repo,
                state: 'open',
                per_page: 100,
              }
            )) {
              if (
                pr.number !== ${{ steps.pr.outputs.pull-request-number }} &&
                pr.user.type === 'Bot' &&
                pr.head.ref.startsWith('dependabot/platformio/${{ matrix.fragments.owner }}/${{ matrix.fragments.name }}-')
              ) {
                await github.rest.issues.createComment({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: pr.number,
                  body: `Superseded by #${{ steps.pr.outputs.pull-request-number }}.`,
                });
                await github.rest.issues.update({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: pr.number,
                  milestone: null,
                });
                await github.rest.pulls.update({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  pull_number: pr.number,
                  state: 'closed',
                });
                core.info(`Closed PR #${pr.number}`);
              }
            }
