name: PlatformIO

on:
  pull_request:
    branches:
      - main

  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.14
          cache: pip
          cache-dependency-path: .github/platformio/requirements.txt

      - name: Set up PlatformIO
        run: pip install -r .github/platformio/requirements.txt

      - name: PlatformIO lint
        run: |
          OUTPUT=$(pio project config --lint --json-output)
          echo "$OUTPUT"
          if [ "$OUTPUT" != "{'errors': [], 'warnings': []}" ]; then
            exit 1
          fi
