name: Close stale issues and PRs

on:
  schedule:
    - cron: '0 6 * * *'

  workflow_dispatch:

permissions:
  actions: write
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@5bef64f19d7facfb25b37b414482c7164d639639 # v9.1.0
        with:
          stale-issue-message: No recent activity has been detected on this issue. It's now marked as stale and may be closed soon if no further updates are made.
          days-before-issue-stale: 60
          days-before-issue-close: 30
          stale-pr-message: This pull request hasn't seen any recent activity and is now marked as stale. Please make sure it's up to date and still relevant.
          days-before-pr-stale: 90
          days-before-pr-close: -1
          exempt-pr-labels: 'dependencies'
