name: Stream

on:
  merge_group:
    types:
      - checks_requested

  pull_request:
    branches:
      - main

  push:
    branches:
      - main

  workflow_dispatch:

permissions:
  contents: read

jobs:
  animation:
    name: Animation streamer
    runs-on: ubuntu-latest

    strategy:
      matrix:
        module:
          - frekvens.ArtNetStreamer
          - frekvens.DistributedDisplayProtocolStreamer
          - frekvens.E131Streamer
        toolchain:
          - python-version: 3.11
          - python-version: 3.14

    steps:
      - name: Set up Frekvens
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: ${{ matrix.toolchain.python-version }}
          cache: pip
          cache-dependency-path: tools/pyproject.toml

      - name: Set up Frekvens tools
        run: pip install tools/

      - name: Frekvens stream
        run: |
          cat <<EOL > Animation.csv
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,255,0,0,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,0,0,0,0,0,0,255,0,0,0
          0,0,0,255,255,255,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,0,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,0,255,255,255,255,255,255,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          EOL

          set +e
          OUTPUT=$(python -m ${{ matrix.module }} --host localhost -i Animation.csv 2>&1)
          STATUS=$?
          echo "$OUTPUT"
          if echo "$OUTPUT" | grep -q "httpx.ConnectError"; then
            echo "Expected ConnectError occurred."
            exit 0
          fi
          echo "Unexpected error or no error."
          exit $STATUS

  drawing:
    name: Drawing streamer
    runs-on: ubuntu-latest

    strategy:
      matrix:
        module:
          - frekvens.ArtNetStreamer
          - frekvens.DistributedDisplayProtocolStreamer
          - frekvens.E131Streamer
        toolchain:
          - python-version: 3.11
          - python-version: 3.14

    steps:
      - name: Set up Frekvens
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: ${{ matrix.toolchain.python-version }}
          cache: pip
          cache-dependency-path: tools/pyproject.toml

      - name: Set up Frekvens tools
        run: pip install tools/

      - name: Frekvens stream
        run: |
          cat <<EOL > Drawing.csv
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,255,0,0,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,0,0,0,0,0,0,255,0,0,0
          0,0,0,255,255,255,0,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,0,0,0,0
          0,0,0,255,0,0,255,0,0,255,0,0,255,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,255,255,0,0,0,0,255,255,0,0,0,0
          0,0,0,0,0,255,255,255,255,255,255,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
          EOL

          set +e
          OUTPUT=$(python -m ${{ matrix.module }} --host localhost -i Drawing.csv 2>&1)
          STATUS=$?
          echo "$OUTPUT"
          if echo "$OUTPUT" | grep -q "httpx.ConnectError"; then
            echo "Expected ConnectError occurred."
            exit 0
          fi
          echo "Unexpected error or no error."
          exit $STATUS
