name: Wiki

on:
  push:
    branches: [main]
    paths:
      - docs/wiki/**

  workflow_dispatch:

permissions:
  contents: write

jobs:
  wiki:
    name: Wiki publication
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Wiki
        uses: Andrew-Chen-Wang/github-wiki-action@6448478bd55f1f3f752c93af8ac03207eccc3213 # v5.0.3
        with:
          path: docs/wiki
