name: Wiki

on:
  push:
    branches: [main]
    paths:
      - docs/wiki/**

  workflow_dispatch:

permissions:
  contents: write

jobs:
  wiki:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: Andrew-Chen-Wang/github-wiki-action@v5
        with:
          path: docs/wiki
